.group-preview {
    box-shadow: #ccc 0px 0px 3px 1px;
    border-radius: 10px;
    padding: 10px;


    .add-prod-form {
        button {
            margin-inline-start: 10px;
        }
    }

    h1 {
        cursor: pointer;
    }

    .prod-prev-container {
        height: 0;
        overflow: hidden;
        user-select: none;

        &.open {
            height: auto;
        }
    }

}