.product-preview {
    user-select: none;
    margin: 0 0 1rem;

    &.done {
        order: 1;
    }

    &.done h2{
        text-decoration: line-through;
    }

    h2 {
        margin-inline-start: 0.5rem;
        cursor: pointer;
    }

    // @include for-normal-layout {

        .action-btn-container {
            visibility: hidden;
            opacity: 0;
            transition: .3s;

            &>*:not(:last-child) {
                margin-inline-end: 0.5rem;
            }
        }

        &:hover .action-btn-container {
            visibility: visible;
            opacity: 1;
        }
    // }

    input[type=checkbox]{
        margin: 0;
    }

}