.product-preview {
    user-select: none;
    margin: 0 0 1rem;

    &.done {
        order: 1;
    }

    &.done>*:not(.action-btn-container, ::before) {
        text-decoration: line-through;
    }

    h2 {
        margin-inline-start: 5px;
        cursor: pointer;
    }

    // @include for-normal-layout {

        .action-btn-container {
            visibility: hidden;
            opacity: 0;
            transition: .3s;
        }


        &:hover .action-btn-container {
            visibility: visible;
            opacity: 1;
        }
    // }

}