// Colors
$clr1: #666565;
$clr2: #77d8d8;
$clr3: #eff3c6;
$clr4: #95adbe;
$clr5: #38bb93;
$clr6: #fff;

// global styles variables
$header-height: 50px;
$border-radius-size: 10px;

// Breakpoints
$mobile-breakpoint: 520px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1200px;

