.my-modal {
    z-index: 1;
    inset: 0;
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    background-color: #98949459;

    .modal-body {
        border-radius: $border-radius-size;
        background-color: #fff;
        height: fit-content;
        width: 30%;

        form {
            width: 100%;
            height: 100%;

            &>*:not(button) {
                font-size: 1.2rem;
                width: 70%
            }
        }


        button {
            background-color: $clr5;
            color: #fff;
            padding: 10px;
        }

        @include for-mobile-layout {
            width: 80%
        }
    }
}